<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Little Frontend</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../static/style2.css">
</head>

<body>

<div id="container">

    <div id="menu">
        <div><a href="index.html">Main Style</a></div>
        <div><a href="index2.html">Style 2</a></div>
        <div class="active"><a href="index3.html">Style 3</a></div>
    </div>

    <div id="content">

        <h1>Style 3</h1>

        <h3>Subtitle</h3>

        <p>
            Use this cool <a href="https://loremipsumgenerator.org/">Lorem Ipsum Generator</a> to get text like this...
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit, urna consequat felis vehicula class ultricies mollis dictumst,
            aenean non a in donec nulla. Phasellus ante pellentesque erat cum risus consequat imperdiet aliquam,
            integer placerat et turpis mi eros nec lobortis taciti, vehicula nisl litora tellus ligula porttitor metus.
        </p>
        <p>
            Vivamus integer non suscipit taciti mus etiam at primis tempor sagittis sit, euismod libero facilisi aptent elementum
            felis blandit cursus gravida sociis erat ante, eleifend lectus nullam dapibus netus feugiat curae curabitur est ad.
            Massa curae fringilla porttitor quam sollicitudin iaculis aptent leo ligula euismod dictumst, orci penatibus mauris
            eros etiam praesent erat volutpat posuere hac. Metus fringilla nec ullamcorper odio aliquam lacinia conubia mauris tempor,
            etiam ultricies proin quisque lectus sociis id tristique, integer phasellus taciti pretium adipiscing tortor sagittis ligula.
        </p>
        <p>
            Mollis pretium lorem primis senectus habitasse lectus scelerisque donec, ultricies tortor suspendisse adipiscing
            fusce morbi volutpat pellentesque, consectetur mi risus molestie curae malesuada cum.
            Dignissim lacus convallis massa mauris enim ad mattis magnis senectus montes, mollis taciti phasellus accumsan
            bibendum semper blandit suspendisse faucibus nibh est, metus lobortis morbi cras magna vivamus per risus fermentum.
            Dapibus imperdiet praesent magnis ridiculus congue gravida curabitur dictum sagittis, enim et magna sit inceptos
            sodales parturient pharetra mollis, aenean vel nostra tellus commodo pretium sapien sociosqu.
        </p>

    </div>

</div>

</body>
</html>
